# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
.vscode/
venv_agent_lab/
myenv

# cached models & checkpoints
.cache/
.checkpoints/

# folders for db testing. main is the name of the client!
./src/db
 
.idea*
tst*
state*
junk/*
huggingface_*
junk/logs
papers*
hf*
junk/data/*
research_dir/*
.DS_Store
state_saves/*
__pycache__/*
Figure*.png
testrun.py
src/results/*
output
src/vdb/*